<!--<button type="submit" class="btn btn-primary logout" ng-click="user.logout()">Logout</button>-->
<div>Welcome <span ng-bind="currentUser.firstName"></span>, you are <strong ng-bind="currentUser.role"></strong> </div>
<!--<div>Your current calory intake is: <span ng-bind="currentUser.dailyCalorieIntake"></span></div>-->

<!--<button class="class=" btn btn-primary"" ng-click="meal.getMeal()">Get Meal</button>

<div>Meal spec:</div>
<div ng-bind="mealInfo.id"></div>
<div ng-bind="mealInfo.text"></div>-->

<div ui-view></div>



