<div class="container">
    <h1>Edit Profile</h1>
    <div class="row">
        <div class="form">
            <form>
                <fieldset class="form-group">
                    <label for="">First name</label>
                    <input type="text" class="form-control" ng-model="currentUser.firstName" placeholder="Your first name">
                </fieldset>
                <fieldset class="form-group">
                    <label for="">Last name</label>
                    <input type="text" class="form-control" ng-model="currentUser.lastName" placeholder="Your last name">
                </fieldset>
                <fieldset class="form-group">
                    <label for="">E-mail</label>
                    <input type="email" class="form-control" ng-model="currentUser.eMail" placeholder="Email you want to sign in with">
                </fieldset>
                <fieldset class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" ng-model="currentUser.password" placeholder="Your password">
                </fieldset>
                <fieldset class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" ng-model="currentUser.confirmPassword" placeholder="Confirm password">
                </fieldset>
                <fieldset class="form-group">
                    <label for="">Daily calorie intake</label>
                    <input type="text" class="form-control" ng-model="currentUser.dailyCalorieIntake" placeholder="Your daily calorie intake">
                </fieldset>
            </form>
            <!--<button type="submit" class="btn btn-primary" ng-click="currentUserNewUser()">currentUser</button>-->
        </div>
    </div>
</div>