<div class="container">
    <div class="row">
        <div class="form">
            <h2>Enter your email:</h2>
            <form>
                <fieldset class="form-group">
                    <label for="">E-mail</label>
                    <input type="email" class="form-control" ng-model="user.emailToReset">
                </fieldset>
            </form>
            <button type="submit" class="btn btn-primary" ng-click="user.resetUserPassword(user.emailToReset)">Register</button>
        </div>
    </div>
</div>