<div class="container">
    <div class="row">
        <div class="form">
            <form>
                <fieldset class="form-group">
                    <label for="">E-mail</label>
                    <input type="email" class="form-control" ng-model="user.emailToReset" placeholder="Email you want to sign in with">
                </fieldset>
                <fieldset class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" ng-model="user.newPassword" placeholder="Confirm password">
                </fieldset>
            </form>
            <button type="submit" class="btn btn-primary" ng-click="user.setNewPassword(user.emailToReset, user.newPassword, user.hash)">Reset Password</button>
        </div>
    </div>
</div>