<h3>Forgot your password, @ViewBag.Name?</h3>
<hr />
<p>Click <a href="http://@(ViewBag.BaseUrl.ToString())/api/users/resetpasswordconfirmation?hash=@ViewBag.Hash.ToString()">here</a> to reset your password. You will be redirected to the site to set a new password for your account.</p>
<p>You will be redirected to login to the app.</p>